.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-theme-primary);
    color: var(--light-theme-secondary);
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}

.main {
    width: 390px;
    height: var(--app-height);;
    background-color: var(--theme-secondary);
    flex-direction: column;
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
    overflow: hidden;

}
