.container {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}

.wrapper {
    width: 390px;
    height: var(--app-mobile-height);
    border-radius: 30px;
    background-color: var(--theme-secondary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.main {
    flex: 1;
    height: 884px;
}
