.wrapper {
    margin-top: 30px;
    margin-left: 63px;
}

.width-170 {
    width: 170px;
}

.width-665 {
    width: 665px;
}

@media (max-width: 768px) {
    .wrapper {
        margin-left: 20px;
    }
}
