.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 52px;
}

.header {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
}

.title {
    font-weight: 700;
    color: var(--theme-text-color);
}

.meta {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #999;
}

.arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
    margin-left: 52px;
}

.rotated {
    transform: rotate(90deg);
}

.content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.expanded {
    opacity: 1;
    max-height: 1000px;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .wrapper {
        margin-left: 30px;
    }
}
