.sidebar {
    width: 230px;
    height: var(--app-height);;
    background-color: var(--theme-primary);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    flex-direction: column;
    height: 55px;
    gap: 15px;
    color: var(--theme-text-color);
}

.features > *:first-child {
    margin-top: 68px;
}

.features-item {
    display: flex;
    align-items: center;
    width: 230px;
    height: 55px;
    gap: 23px;
    cursor: pointer;
    font-weight: 700;
}

.features-item:hover {
    background-color: rgba(87, 235, 221, 0.2);
}

.features-item.active {
    background-color: var(--active-feature-background-color);
}

.icon {
    padding: 15px 0 15px 46px;
    fill: var(--features-icon-color);
}

.active {
    background-color: var(--active-feature-background-color);
    color: var(--active-feature-icon-color);

    svg {
        fill: var(--active-feature-icon-color);
    }
}
