.wrapper {
    width: 970px;
    height: var(--app-height);;
    background-color: var(--theme-secondary);
    flex-direction: column;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.icon {
    width: 24px;
    height: 25px;
    fill: white;
}

.recommended {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 28px;
    color: var(--theme-text-color);
    margin-left: 45px;
}

.playlist-row {
    margin-top: 34px;
    margin-left: 75px;
}

.add {
    height: 15px;
}

.icon {
    height: 14px;
}

.expendable-playlist-wrapper {
    overflow: hidden;
    max-height: 300px;
}

.width-335 {
    width: 335px;
}

.width-669 {
    width: 669px;
}

.width-665 {
    width: 665px;
}

.width-170 {
    width: 170px;
}

.width-165 {
    width: 170px;
}

.height-525 {
    height: 525px;
}

.height-344 {
    height: 344px;
}

@media (max-width: 768px) {
    .recommended {
       margin-left: 35px;
        margin-top: 24px;
    }

    .playlist-row {
        margin-top: 21px;
        margin-left: 20px;
    }

}
