.wrapper {
    width: 970px;
    height: var(--app-height);;
    background-color: var(--theme-secondary);
    flex-direction: column;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.icon {
    width: 24px;
    height: 25px;
    fill: white;
}

.header {
    display: flex;
}

.featured-playlist {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 14px;
    color: var(--theme-text-color);
    margin-left: 45px;
}

.recommended {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 28px;
    color: var(--theme-text-color);
    margin-left: 45px;
}

.playlist-row {
    margin-top: 34px;
    margin-left: 75px;
}
