.toggle {
    width: 38px;
    height: 19px;
    background-color: var(--toggle-background-color);
    border-radius: 35px;
    padding: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    margin-top: 38px;
    margin-left: 63px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: var(--toggle-switch-color);
    border-radius: 50%;
}
